<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
</head>
<body>
  <h1>{{photo.image}}</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <br>
        <a>Ширина</a>
        <br>
        <input type="text" name="weight" value="{{weight}}">
        <br>
        <br>
        <a>Высота</a>
        <br>
        <input type="text" name="height" value="{{height}}">
        <br>
        <br>
        <button type= "submit">Отправить</button>
    </form>
    <img src="{% get_media_prefix %}{{photo.image}}">
</body>
</html>
