{% extends 'photos/base.html' %}
{% load static %}

{% block title %}
   <title>Новое изображение</title>
{% endblock %}

{% block content %}
  <p><a href="/">Назад к списку</a></p>
  <h1>Новое изображение</h1>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <FONT color="red">{{e}}</FONT>
    <p>
    <a>Ссылка</a>
    <br>
    {{form.url}}
    </p>
    <a>Файл</a>
    <br>
    {{form.image}}
    <br>
    <br>
    <button type= "submit">Отправить</button>
  </form>
{% endblock %}
